html {
	background: #ccddff;
}

#dodavanjeForma {
	
}

.dodavanjeKlasa {
	
}

#mainPages ul
{
padding-left: 0;
margin-left: 0;
background-color: #036;
color: White;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
}

#mainPages ul li { display: inline; }

#mainPages ul li a
{
padding: 0.2em 1em;
background-color: #036;
color: White;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}

#mainPages ul li a:hover
{
background-color: #369;
color: #fff;
}